.List {
    display: flex;
    justify-content: center;
    background: green;
}
.Item {
    display: flex;
    flex-direction: column;
    background: green;
}
.Avatar {
    display: block;
}
.Name {
    color: green;
    font-size: 32px;
}