.List {
  margin: 0px;
  list-style: none;
}
.Card {
  margin-bottom: 10px;
  background: papayawhip;
}
.Item {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}
.Status {
  display: block;
  border: 1px solid grey;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 50px;
  margin-right: 30px;
  background: green;
}
.Avatar {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Name {
  font-size: 32px;
  color: black;
}
