.Statistics {
    background: white;
    color: black;
}
.List {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    background: pink;
}
.Item {
    display: flex;
    flex-direction: column;
}
    