.table {
   border: 1px solid black;
   width: 100%;
}
.titleTr {
   background: grey;
}
th,
td {
   border: 1px solid black;
}
.tableTr:nth-child(2n) {
   background: rgb(212, 211, 211);
   color: black;
}
