.statistics {
   background: white;
   color: black;
   margin-bottom: 15px;
}
.list {
   display: flex;
   list-style: none;
   justify-content: space-between;
   /*background: pink;*/
   border: 1px solid grey;
   padding: 0;
}
.item {
   display: flex;
   flex-direction: column;
   border: 1px solid grey;
   width: 70px;
}
